@use "sass:map";

$palette: (

  "primary-highlight": color(display-p3 0.98 0.8 0.54),

  "yellow": color(display-p3 0.98 0.8 0.14),
  "orange": color(display-p3 0.99 0.4 0.02),
  "red": color(display-p3 0.98 0.15 0.23),
  "green": color(display-p3 0.16 0.81 0.49),
  "blue": color(display-p3 0.07 0.48 1),
  "purple": color(display-p3 0.71 0.52 1),

  // "primary-highlight": color(display-p3 0.98 0.8 0.14),  // orange
  // "primary-highlight": color(display-p3 0.71 0.52 1),  // purple

  // "primary-highlight": color(display-p3 0.99 0.4 0.02),
  // "primary-highlight": color(display-p3 0.98 0.15 0.23),
  // "primary-highlight": color(display-p3 0.16 0.81 0.49),
  // "primary-highlight": color(display-p3 0.07 0.48 1),
  
  // "primary-highlight": #BD998F,
  // "primary-highlight": #FA5900,

  // "secondary-highlight": #BD998F,

  "info-background": rgba(5, 95, 249, 0.1),
  "info-foreground": #7aade0,
  "success-background": rgba(6, 251, 128, 0.1),
  "success-foreground": #CFF09E,
  "error-background": rgba(96, 32, 32, 0.1),
  "error-foreground": #fcb9b9,
  "warning-background": rgba(137, 33, 30, 0.15),
  "warning-foreground": #fd7c7c,
  "critical-background": rgba(238, 12, 12, 0.15),
  "critical-foreground": #f42e4f,


  // "teal": #00ffd9,
  // "purple": #a374ff,
  // "khaki": #ffd074,
  // "white": #ecf7fa,
  // "black": #050505,
  // "ochre": #ff4e20,
  // "pastel": #fdfd96,

  // "one": #EE765C,
  // "two": #3A594D,
  // "three": #BD8FC0,

  "background": #0A0A0A,
  // background: #000000,
  "dark-background": #000000,
  "light-background": #2e2e2e,
  "lightest-background": #383838,
  "fancy-background": lighten(#0a192f, 40%),
  "shadow": rgba(#000000, 0.1),

  "dark-foreground": #888888,
  // "foreground": #bbbbbb,
  // "foreground": darken(#bbbbbb, 10%),
  "foreground": #888888,
  "light-foreground": #dedede,
  "lightest-foreground": #ffffff,
);




@function color($color-name) {
  $result: map.get($palette, $color-name);
  @return $result;
}

:export {
  teal: color("teal");
  purple: color("purple");
  khaki: color("khaki");
  white: color("white");
  black: color("black");
}

@function highlight-color($n) {
  @if $n == '1' {
    @return color("teal");
  } @else if $n == '2' {
    @return color("purple");
  } @else {
    @return color("khaki");
  }
}
